[submodule "Assets/Plugins/kbengine/kbengine_unity3d_plugins"]
	path = Assets/Plugins/kbengine/kbengine_unity3d_plugins
	url = https://github.com/kbengine/kbengine_unity3d_plugins
[submodule "demo_assets"]
	path = demo_assets
	url = https://github.com/kbengine/kbengine_demos_assets
